:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
}
.main {
    background-color: #e6e6e6;
}
.wrapper {
    position: relative;
    overflow-x: hidden;
    background-color: #e6e6e6;
}
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width:20%;
    min-width: 350px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #348AA7;
    transition: 0.8s;
    transform: translateX(-80%);
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-content: end;
    height: 50%;
    flex-direction: column;
    width: 100%;
}
.menu-list a {
    text-decoration: none;
    font-weight: 500;
    color: #39393a;
    margin-right: 15px;
    font-size: 20px;
    alignment: left;
}

.imgformenu {
    position: fixed;
    alignment: right;
    right: 5px;
    top: 5px;
    margin-right:10px;
    margin-top: 5px;
    width:5vh;
    min-width: 50px;
    height: 5vh;
    min-height: 50px;
}
.menu-img {
    width: 5vh;
    min-width: 50px;
    height: 5vh;
    min-height: 50px;
    margin-right:10px;
    alignment: center;
    margin-bottom: 10px;
    transform: translateY(-58px);
}

.menu-div{
    min-height: 60px;
    margin-right: 10px;
    max-height: 60px;
    min-width: 100%;
}


.menu-a {
    position: relative;
    background: #444;
    color: #39393a;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    display: flex;
    transition: 0.2s;
    margin-left: 5px;
    width: 228px;
    min-width: 228px;
    max-width: 228px;
    padding: 1rem 2rem;
}

.menu-a:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 2.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
    width: 228px;
    min-width: 228px;
    max-width: 228px;
}

.menu-a::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #399E5A;
    width: 223px;
    min-width: 223px;
    max-width: 223px;
}

.menu-a span {
    /*position: relative;*/
    z-index: 1;
    width:100%;
    text-align: center;
}
.menu-a i {
    position: absolute;
    inset: 0;
    display: block;
    width: 228px;
    min-width: 228px;
    max-width: 228px;
}

.menu-a i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #5CDB95;
    transition: 0.2s;
}

.menu-a:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

.menu-a i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #5CDB95;
    transition: 0.2s;
}

.menu-a:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #fff;
    }
    50% {
        box-shadow: 0 0 25px var(--clr);
    }
    100% {
        box-shadow: #27272c;
    }
}
