body{
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
}
.left-panel-wrapper {
    width: 200px;
    background-color: orange;
}
.right-panel-wrapper {
    width: 200px;
    background-color: green;
}
.content-wrapper {
    /*width: 250px;*/
    width: calc(100% - 400px);
    padding: 0 30px;
}
.content {
    margin-left: auto;
    width: 93vw;
    display: block;
    height: 100vh
}

.card {
    background-color: transparent;
    background-clip: border-box;
    z-index: 0;
    width: 100%;
    margin: 5px;
    display: block;
}

.cardindex {
    background-color: transparent;
    background-clip: border-box;
    border-width: 1px;
    border-color: black;
    z-index: 0;
    width: 49%;
    margin: 5px;
    display: block;
}

.fullcard {
    background-color: transparent;
    background-clip: border-box;
    z-index: 0;
    width: 100%;
    margin: 5px;
    display: block;
}

.cardforcontent {
    width: 100%; height: auto; display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

tr{
    transition: 0.5s;
}

tr:hover{
    background-color: #a3a3a3;
}

.odd:hover{
    background-color: #a3a3a3;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/Preloader_2.gif) center no-repeat #fff;
}